$primary-color: #5C5292 !default;
$primary-color-dark: #3C2F81 !default;
$primary-color-light: #786DB3 !default;

$error-color: #EA4747 !default;
$error-color-light: #F5D3CE !default;

$text-secondary: #BCBCBC !default;

$bg-light: #F9F9F9 !default;
