%horizontal-center-in-parent {
  display: flex;
  justify-content: center;
}

%vertical-center-in-parent {
  display: flex;
  align-items: center;
}

%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
