.auth-errors {
    li {
        border: 5px;
        padding: 10px;
        list-style: none;
        border: 1px solid $error-color;
        background-color: $error-color-light;
        border-radius: 4px;
    }
}
