.board-thumbnail {
  position: relative;

  padding: 10px;
  margin: 2.5%;
  height: 150px;
  width: calc(95%);
  /* Larger than mobile */
  @media (min-width: 400px) {
    margin: 1%;
    width: calc(96%/2);
  }
  /* Larger than phablet */
  @media (min-width: 550px) {
    margin: 1%;
    width: calc(94%/3);
  }
  @media (min-width: 750px) {
    margin: 1%;
    width: calc(94%/3);
  }
  @media (min-width: 1000px) {
    margin: 1%;
    width: calc(92%/4);
  }
  @media (min-width: 1200px) {
    margin: 1%;
    width: calc(90%/5);
  }

  border: 1px solid $primary-color-dark;
  background-color: white;
  border-radius: 15px;

  cursor: pointer;

  &:hover {
    // background-color: $primary-color;
  }

  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 30px;
    padding: 5px;

    border: 1px solid $primary-color-light;
    background-color: $primary-color-light;
    color: white;

    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;

    text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
    text-align: center;
  }

  &.bord-creation-thumbnail {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;

    font-size: 6rem;

    .create-board-form {
      font-size: 1rem;
      margin: 0;

      input {
        margin-bottom: 1rem;
      }
      button {
        margin-bottom: 0;
      }
    }
  }
}
