header {
    &.public {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    &.private {
      background-color: rgba($primary-color,0.8);
    }
    .brand-logo > img {
      height: 35px;
    }
}
