.note-placeholder {
  position: absolute;

  margin: 5px 5px 10px 5px;
  height: $note-size;
  width: $note-size;
  display: inline-flex;

  /* Larger than mobile */

  border-radius: 4px;

  cursor: pointer;

  align-items: center;
  justify-content: center;
  color: white;

  font-size: 4rem;

  &:hover {
    background-color: whitesmoke;
    border: 1px solid $border-color;
    color: $border-color;
  }
}
