.note-thumbnail {
  position: absolute;

  margin: 5px 5px 10px 5px;
  height: $note-size;
  width: $note-size;
  display: inline-flex;

  /* Larger than mobile */
  background: white;
  border-radius: 15px;
  overflow: hidden;

  cursor: pointer;

  padding: 10px;
  flex-direction: column;

  > p, .markdown {
    margin-bottom: 5px;
    word-wrap: break-word;
  }
  .title {
    font-size: 1.7rem;
  }

  .text, .markdown {
    font-size: 1.3rem;
    color: $text-secondary;
  }
}
