header.private {
  .toolbar {
    color: white;
    button {
      color: white;
      border-color: white;
      i {
        color: white;
      }
    }
  }
}
.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    height: 54px;
    > * > * {
      margin: 0;
      display: flex;
      align-items: center;
      > button {
        margin-left: 5px;
      }
    }
    // buttons in the toolbar should have no margin top/bottom
    button {
      margin-top: 0;
      margin-bottom: 0;
    }
}
